body {
	background-color:#5c656e;
}

h1 {
	color:#EBD1C1;
	margin-top:50px;
	font-family: 'Yeseva One', cursive;
}

h2 {
	color:#FFF7EF;
	margin:0px auto;
	font-family: 'Zilla Slab', serif;
	font-weight:300;
	font-size:20px;
	margin-top:-5px;
}

h3 {
	color:#FFF7EF;
	margin:0px auto;
	font-family: 'Zilla Slab', serif;
	font-weight:300;
	font-size:15px;
	margin-top:30px;
	margin-bottom:10px;
}

a {
	color:#FFF7EF;
	font-family: 'Zilla Slab', serif;
	font-weight:300;
}

a:hover {
	text-decoration:none;
	color:#e6ddd5;
}

.clips {
	margin-top:15px;
}

.maphover {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.maps:hover .overlay {
	opacity:1;
}

.overlay {
  opacity: 0;
  transition: .5s ease;
}

.editorialhover {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.editorial:hover .overlay {
	opacity:1;
}

.photohover {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.photo:hover .overlay {
	opacity:1;
}

.web {
	margin:0px auto;
}

.about {
	margin-top:50px;
}

.header1text {
	color:#EBD1C1;
	font-family: 'Corben', cursive;
	font-size:20px;
	margin-bottoom:-10px;
}

.text {
	color:#FFF7EF;
	font-family: 'Zilla Slab', serif;
	font-weight:300;
	margin-top:-20px;
}

.collapsible {
 	margin-top:20px;
 	background-color:#4c545c;
 	color: #EBD1C1;
 	cursor: pointer;
 	padding:18px;
 	width: 100%;
 	border: none;
 	text-align: left;
 	outline: none;
	font-family: 'Corben', cursive;
	font-size:20px;
	padding-left:0px;
}

.active, .collapsible:hover {
  background-color:#4c545c;
}

.content {
  padding: 0 18px;
  max-height:0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color:#4c545c;
}

.resumehed {
	color:#EBD1C1;
	font-family: 'Zilla Slab', serif;
	font-weight:300;
	font-size:19px;
	margin-bottom:3px;
}

.bigrescolumn {
	margin-right:20px;
}

footer {
	height:20px;
}

.textsmall {
	color:#FFF7EF;
	font-family: 'Zilla Slab', serif;
	font-weight:300;
	font-size:15px;
	margin-top:-10px;
}

.experience {
	color:#EBD1C1;
	font-family: 'Zilla Slab', serif;
	font-weight:300;
	font-size:17px;
}

.otherpages {
	margin-top:50px;
}

.navname {
	color:#EBD1C1;
	font-family: 'Yeseva One', cursive;
	font-size:40px;
}

.navlinks {
	color:#FFF7EF;
	margin:0px auto;
	font-family: 'Zilla Slab', serif;
	font-weight:300;
	font-size:16px;
	margin-top:-5px;
}

.navlinks:hover {
	background-color:#EBD1C1;
	color:#4c545c;
	text-decoration:none;
}

.clipsbg {
	background-color:#EBD1C1;
	height:5px;
	margin-top:30px;
	margin-bottom:30px;

}

.clipshed {
	color:#EBD1C1;
	font-family: 'Corben', cursive;
	font-size:22px;
}

.clipshed2 {
	color:#FFF7EF;
	font-family: 'Zilla Slab', serif;
	font-weight:700;
	font-size:18px;
}

.clipsrole {
	color:#FFF7EF;
	font-family: 'Zilla Slab', serif;
	font-weight:300;
	font-size:17px;
	margin-top:-13px;
}

.clippageimg {
	margin-top:10px;
}

.margintop {
	margin-top:65px;
}

.clips {
	margin-left:20px;
}

