body {
	margin:0px; 
	padding:0px;
}

h2 {
	color:#4A4A4A;
	font-family: 'DM Sans', sans-serif;
	font-weight:400;
	font-size:  17px;
	text-align: center;

}

.bgorange {
	width: 500;
	background-color: #0047ab;
	padding-bottom: 20%;
}

.bgorange2 {
	width: 500;
	background-color: #0047ab;
	padding-bottom:2%;
}

.middle {
	margin: auto;
	text-align: center;
}

.navname {
	color:#ffffff;
	font-family: 'DM Sans', sans-serif;
	font-weight:400;
	font-size:17px;
	padding-top: 30px;
	text-align: center;
}

.navname2 {
	color:#0047ab;
	font-family: 'DM Sans', sans-serif;
	font-weight:400;
	font-size:17px;
	padding-top: 30px;
	text-align: center;
}

.header {
	color:#0047ab;
	font-family: 'DM Sans', sans-serif;
	font-weight:400;
	font-size:17px;
	margin-top: 40px;
	text-align: center;
}

.header2 {
	color:black;
	font-family: 'DM Sans', sans-serif;
	font-weight:400;
	font-size:15px;
	margin-top: 10px;
	text-align: center;
}

.header3 {
	color:white;
	font-family: 'DM Sans', sans-serif;
	font-weight:400;
	font-size:15px;
	margin-top: 0px;
	text-align: center;
}

.headerwhite {
	color:#ffffff;
	font-family: 'DM Sans', sans-serif;
	font-weight:400;
	font-size:17px;
	padding-top: 40px;
	text-align: center;
}

.footer {
	color:#ffffff;
	font-family: 'DM Sans', sans-serif;
	font-weight:400;
	font-size:17px;
	padding-top: 2%;
	text-align: center;
}

.navlinks {
	color:#ffffff;
	font-family: 'DM Sans', sans-serif;
	font-weight:400;
	font-size:13px;
	margin: auto;
	text-align: center;
	margin-top: 20px;
	opacity: 0.6;
	transition: 0.6s;
}

.navlinks2 {
	color:#0047ab;
	font-family: 'DM Sans', sans-serif;
	font-weight:400;
	font-size:13px;
	margin: auto;
	text-align: center;
	margin-top: 20px;
	opacity: 0.6;
	transition: 0.6s;
}

.abouttext {
	margin: auto;
	text-align: center;
	margin-top: 10%;
	color: #ffffff;
	font-size: 23px;
	font-family: 'DM Sans', sans-serif;
	font-weight:400;
}

.abouttext2 {
	margin: auto;
	text-align: center;
	margin-top: 5%;
	color: #ffffff;
	font-size: 23px;
	font-family: 'DM Sans', sans-serif;
	font-weight:400;
}

.navlinks:hover {
	opacity: 1;
}

.designwork {
	margin-top: 30px;
}

.marginbottom {
	margin-bottom: 60px;
}

.marginbottom2 {
	margin-bottom: 30px;
}

p.date {
	color:#ffffff; 
	text-align: center;
	font-family: 'DM Sans', sans-serif;
	font-weight:400;
	font-size:17px;
	line-height: 60px;
	opacity: 0.5;
}

p.headline {
	color:#ffffff; 
	text-align: center;
	font-family: 'DM Sans', sans-serif;
	font-weight:400;
	font-size:37px;
	line-height: 35px;
	opacity: 0.5;
	transition: 0.6s;
}

p.headline:hover {
	opacity: 1;
}

a.linkanimation {
	color:#ffffff;
	opacity: 0.5;
	transition: 0.6s;
}

a.linkanimation:hover {
	opacity: 1;
}

a:hover {
	text-decoration:none;
}

.clipshed {
	color: #4a525c;
	font-family: 'Yeseva One', cursive;
	font-size:22px;
}

.clipshed2 {
	color:#797c80;
	font-family: 'Zilla Slab', serif;
	font-weight:700;
	font-size:18px;
}

.clipsrole {
	color:#797c80;
	font-family: 'Zilla Slab', serif;
	font-weight:400;
	font-size:17px;
	margin-top:-13px;
}

.clippageimg {
	margin-top:10px;
}

hr {
	color:#797c80;
	stroke:3px;
}

footer {
	height:20px;
}

